
.password-box{
  position: relative;
  width: 100%;
}

.password-box input{
  width: 100%;
  box-sizing: border-box;
}

.eye-icon{
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #8cff4f;
  font-size: 20px;
  cursor: pointer;
}

.eye-icon:hover{
  color: white;
}